doctype html
html
  head
    title= title
    link(rel='icon', href='/images/favicon.ico')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/vendor/tone.js')
    script(src='/javascripts/vendor/magenta.music.js')
    script(src='/javascripts/vendor/p5.min.js')
    script(src='/javascripts/vendor/p5.dom.js')
    script(src='/javascripts/sketch.js')
  body
    block content
      #main-control
