doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/vendor/p5.min.js')
    script(src='/javascripts/vendor/p5.sound.min.js')
    script(src='/javascripts/sketch.js')
  body
    block content
